# --- SERVER ---
NODE_ENV=development
PORT=8000
APP_URL=http://localhost:8000
DATABASE_URL="postgresql://myuser:mypassword@localhost:5436/appdb?schema=public"

# --- SEGURANÇA ---
JWT_SECRET=7fG9!d3Qw#8zYp2Lx@5nKmR4vUo1bT6c
JWT_EXPIRES_IN=7d

# --- SISTEMA DE E-MAIL (SMTP) ---
FAKE_MAIL=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app_gerada_no_google
MAIL_FROM="Suporte Chat <seu_email@gmail.com>"

# --- RESET DE SENHA ---
RESET_TOKEN_TTL_MINUTES=60
